In [1]:
import sqlite3 
import pandas as pd

DB_NAME = "cities.db"

conn = sqlite3.connect(DB_NAME)

In [6]:
df = pd.read_sql_query("SELECT * FROM cities", conn)
df

,id,state,city,population,white,black,asian,latin,other,low_food_access,median_income,poverty_rate,unemployment_rate
0,1,Massachusetts,Arlington,46015,35186,1163,5570,2299,1797.0,2303,141440,5.0,3.0
1,2,Massachusetts,Boston,663972,317080,143024,66500,125767,11601.0,140419,94755,16.0,6.0
2,3,Massachusetts,Chelsea,39460,10624,2760,1142,25637,703.0,9847,72220,20.0,8.0
3,4,Massachusetts,Everett,49236,20971,6303,3859,15408,2695.0,8418,79658,15.0,5.0
4,5,Massachusetts,Lawrence,88297,19903,4075,1694,72628,NaN,37213,57903,18.0,8.0
5,6,Massachusetts,Lexington,34085,19369,712,11225,1133,1646.0,1283,219402,4.0,3.0
6,7,Massachusetts,Randolph,34683,10219,14528,4510,4565,861.0,8268,103129,7.0,8.0
7,8,Massachusetts,Revere,59933,33794,2913,2520,23162,NaN,10765,81121,12.0,7.0

In [5]:
df['white_pct'] = df['white'] / df['population'] * 100
df['black_pct'] = df['black'] / df['population'] * 100
df['asian_pct'] = df['asian'] / df['population'] * 100
df['latin_pct'] = df['latin'] / df['population'] * 100
df['low_food_access_pct'] = df['low_food_access'] / df['population'] * 100

df[['city','white_pct','black_pct','asian_pct','latin_pct','low_food_access_pct']]

        city  white_pct  black_pct  asian_pct  latin_pct  low_food_access_pct
0  Arlington  76.466370   2.527437  12.104748   4.996197             5.004890
1     Boston  47.755026  21.540667  10.015483  18.941612            21.148332
2    Chelsea  26.923467   6.994425   2.894070  64.969589            24.954384
3    Everett  42.592818  12.801609   7.837761  31.294175            17.097246
4   Lawrence  22.540970   4.615106   1.918525  82.254210            42.145260
5  Lexington  56.825583   2.088895  32.932375   3.324043             3.764119
6   Randolph  29.464003  41.887957  13.003489  13.162068            23.838768
7     Revere  56.386298   4.860427   4.204695  38.646489            17.961724